.back-to-top-btn {
  position: fixed;
  right: 20px;

  display: none; // default state of the button is hidden
  width: 60px;
  height: 60px;
  bottom: 20px;
  padding: 15px;
  z-index: 1030; // guarantee that the button is always on top of other layers
  box-sizing: border-box;

  text-align: center;
  text-decoration: none;
  color: $color_white;
  vertical-align: middle;
  font-weight: bold;
  line-height: 0;
  white-space: nowrap;
  font-size: $font-size_xl;

  outline: none;
  background-color: $color_black;
  border: 0;
  border-radius: $border_radius;
  transition: transform 0.2s ease, background-color 0.2s ease,
    box-shadow 0.2s ease;

  cursor: pointer;

  &:hover {
    background-color: $color_black;
    color: $color_white;
  }
}
