.order-form-group {
  padding: 4vw;

  text-align: center;

  border-radius: 12px;
  box-shadow: 0 0 20px $color_gray-lightest;
  border-color: $color_gray-lightest;

  @media screen and (min-width: $screen-md) {
    padding: 3rem;
    max-width: 300px;
  }

  &__btn {
    width: 100%;
  }

  //-

  &__confirm-msg {
    justify-self: center;

    width: 100%;
    padding: 0;
    margin: 0;

    text-align: center;
    color: $color_success;
    font-weight: bold;

    &_hidden {
      display: none;
    }
  }
}
