div(class='benefits2-wrapper') 
  section(class='benefits2') 
    img(class='benefits2__bokeh1' src='./../blocks/benefits2/bokeh.png' alt='Боке')
    img(class='benefits2__bokeh2' src='./../blocks/benefits2/bokeh.png' alt='Боке')
    img(class='benefits2__bokeh3' src='./../blocks/benefits2/bokeh.png' alt='Боке')
    div(class='benefits2__boy-box')
      img(class='benefits2__photo-boy' src='./../blocks/benefits2/boy-back.png' alt='Boy')
      img(class='benefits2__circle' src='./../blocks/benefits2/wcircle.png' alt='Circle')
      div(class='benefits2__underlay') 
        span(class='benefits2__large-text') YPEN
        img(class='benefits2__photo-handwriting' src='./../blocks/benefits2/handwriting-pravilnaya-osanka.png' alt='Правильная осанка')
    article(class='benefits2__info-box') 
      h1(class='heading heading_size_h1 benefits2__heading') Правильная осанка при письме
      p(class='text text_display_block') Правильное удобное расположение ручки в руке #[strong снимает нагрузку с спины, выравнивает осанку] и бережет детские спины от сколиоза, а глаза — от близорукости.
      p(class='text text_display_block') Ежедневно используется детьми на всей территории России, каждый день целые классы переходят с обычной ручки на Ypen
      div(class='benefits2__subgrid')
        img(class='benefits2__photo-children1' src='./../blocks/benefits2/gallery002.png' alt='Фото')
        img(class='benefits2__photo-children2' src='./../blocks/benefits2/gallery003.png' alt='Фото')
        img(class='benefits2__photo-children3' src='./../blocks/benefits2/gallery001.png' alt='Фото')
        img(class='benefits2__photo-children4' src='./../blocks/benefits2/gallery004.png' alt='Фото')
        img(class='benefits2__photo-children5' src='./../blocks/benefits2/gallery005.png' alt='Фото')

