.section2-wrapper {
  margin: 3rem 0;
}

.section2 {
  max-width: 1200px;
  margin: 1.2rem auto;
  padding: 4rem 4vw;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;

  @media screen and (min-width: $screen-md) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    align-items: center;
  }

  &__heading {
    margin-bottom: 2rem;
    color: $color_brand_blue;
  }

  &__photo {
    max-width: 100%;
  }
}
