.breadcrumb {
  list-style: none;
  background-color: $color_gray-lightest;
  padding: 0.8em 1em;
  border-radius: $border_radius;

  &__item {
    display: inline;
  }

  &__item + &__item:before {
    content: '/\00a0';
    color: black;
    padding: 0.2rem;
  }
}
