div(class='benefits5-wrapper') 
  section(class='benefits5') 
    h1(class='heading heading_size_h1 benefits5__heading') Совершенствуем ручку 24/7
    div(class='benefits5__about')
      p(class='text text_display_block') Придумана, разработана и создана отцом и сыном Пайкачёвыми из города Мурманска
    div(class='benefits5__steps-box')          
      img(class='benefits5__img1' src='./../blocks/benefits5/step1.png' alt='Октябрь 2018')
      img(class='benefits5__img2' src='./../blocks/benefits5/step2.png' alt='Январь 2018')
      img(class='benefits5__img3' src='./../blocks/benefits5/step3.png' alt='Сентябрь 2019')
      img(class='benefits5__line' src='./../blocks/benefits5/line.png' alt='Линия')
      div(class='benefits5__october') Октябрь 2018 
      div(class='benefits5__january') Январь 2018 
      div(class='benefits5__september') Сентябрь 2019
