div(class='benefits4-wrapper') 
  section(class='benefits4') 
    div(class='benefits4__content')
      img(class='benefits4__photo benefits4__photo_boy' src='./../blocks/benefits4/boy.png' alt='Boy')
      article(class='benefits4__text') 
        h1(class='heading heading_size_h1 benefits4__heading') Здоровое зрение
        p(class='text text_display_block') Из-за неправильного положения за партой при письме, неудобного положения руки, многие дети начинают "писать носом", а это рано или поздно приводит к ухудшению зрения. 
        p(class='text text_display_block') При использовании Ypen дети больше не наклоняются близко к тетради, расстояние между глазами и рабочей поверхностью оптимально для сохранения здоровая и хорошего зрения
        img(class='benefits4__photo benefits4__photo_handwriting' src='./../blocks/benefits4/handwriting.png' alt='Сохранение здоровья зрения')
        img(class='benefits4-wrapper__dot1' src='./../blocks/benefits4/dot.png')
        img(class='benefits4-wrapper__dot3' src='./../blocks/benefits4/dot.png')

  img(class='benefits4-wrapper__dot2' src='./../blocks/benefits4/dot.png')

