// special wrapper used only with <fieldset> tag to fix its width problem
.form-group-wrapper {
  width: 100%;
}

.form-group {
  display: grid;
  grid-gap: 1.2rem;

  &__privacy-policy {
    margin-top: 1rem;
    color: $color_gray-light;
  }

  & * {
    box-sizing: border-box;
  }

  &__container {
    position: relative;
    display: grid;
    grid-gap: 1rem;
  }

  &__label {
    overflow-wrap: break-word;
    margin-bottom: 0.4rem;
    color: $color_brand_blue;
    font-family: $font-stack_gill-sans;
  }

  &__heading {
    display: block;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-bottom: 0.5rem;
  }

  &__subheading {
    display: block;
    font-size: $font-size_root;
  }

  &__input {
    width: 100%;
    height: calc(2rem + 2px);
    padding: 2rem;
    border: 1px solid transparent;
    resize: vertical;
    background-color: #f8f8f8;
    font-family: $font-stack_open-sans;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 1000px;
    transition: 0.2s;
    color: $color_gray;
    box-sizing: border-box;

    &::placeholder {
      color: $color_gray;
    }

    &:focus {
      outline: none;
      border: $form__border_state_initial;
      box-shadow: $form__box-shadow_state_initial;
    }

    &_type_textarea {
      height: 10rem;
      resize: none;

      &:focus {
        outline: none;
        border: $form__border_state_initial;
        box-shadow: $form__box-shadow_state_initial;
      }
    }

    &_type_search {
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMjkgMTI5Ij4KICA8cGF0aCBkPSJNNTEuNiA5Ni43YzExIDAgMjEtMy45IDI4LjgtMTAuNWwzNSAzNWMuOC44IDEuOCAxLjIgMi45IDEuMnMyLjEtLjQgMi45LTEuMmMxLjYtMS42IDEuNi00LjIgMC01LjhsLTM1LTM1YzYuNS03LjggMTAuNS0xNy45IDEwLjUtMjguOCAwLTI0LjktMjAuMi00NS4xLTQ1LjEtNDUuMS0yNC44IDAtNDUuMSAyMC4zLTQ1LjEgNDUuMSAwIDI0LjkgMjAuMyA0NS4xIDQ1LjEgNDUuMXptMC04MmMyMC40IDAgMzYuOSAxNi42IDM2LjkgMzYuOUM4OC41IDcyIDcyIDg4LjUgNTEuNiA4OC41UzE0LjcgNzEuOSAxNC43IDUxLjZjMC0yMC4zIDE2LjYtMzYuOSAzNi45LTM2Ljl6Ii8+Cjwvc3ZnPgo=');
      background-size: 20px;
      background-position: 0.6rem 0.4rem;
      background-repeat: no-repeat;
      padding-left: 40px;
      width: 10rem;
      // animate form:
      transition: width 0.4s ease-in-out;

      &:focus {
        width: 100%;
      }
    }
  }

  &__tip {
    padding-top: 0.4rem;
  }

  // Modifiers:

  &_row {
    width: 100%; // remove this property if you will encounter any errors related to block responsivness

    // on a big screen, make form-group a grid with horizonal rows:
    @media screen and (min-width: $screen-sm) {
      // grid-template-columns: [col1-start] 18% [col1-end col2-start] 1fr [col2-end];
      grid-template-columns: 20% 1fr;
      grid-template-rows: [row1-start] auto [row1-end row2-start] auto [row2-end];
      gap: 0 1.5rem; // gap between the label and input
    }
  }

  /* this modifier should be applied through JS handler, rewrite this! */
  &_disabled {
    outline: none;
    opacity: 0.4;
    cursor: not-allowed;

    & .form-group__input {
      background-color: $color_gray-lighten;
      &::placeholder {
        color: $color_gray-dark;
      }
    }
  }

  // error:

  &_validation_error {
    & .form-group__label {
      color: $color_danger;
    }

    & .form-group__input {
      border: $form__border_state_danger;
      color: $color_danger;

      &::placeholder {
        color: $color_danger;
      }
    }

    & .form-group__input:focus {
      outline: none;
      box-shadow: $form__box-shadow_state_danger;
    }

    & .form-group__tip {
      color: $color_danger;
    }
  }

  // success:

  &_validation_success {
    & .form-group__label {
      color: $color_success;
    }

    & .form-group__input {
      border: $form__border_state_success;
      color: $color_success;

      &::placeholder {
        color: $color_success;
      }
    }

    & .form-group__input:focus {
      outline: none;
      box-shadow: $form__box-shadow_state_success;
    }

    & .form-group__tip {
      color: $color_success;
    }
  }
}
