.accordion {
  &__header {
    background-color: $color_gray-lightest;
    cursor: pointer;
    user-select: none;
    border: none;
    transition: 0.2s;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    &:after {
      content: '\02795';
      color: $color_gray-darken;
    }

    &:hover {
      background-color: $color_gray-lighten;
    }

    &_active {
      background-color: $color_gray-lighten;

      &:after {
        content: '\2796';
      }
    }
  }

  &__content {
    background-color: $color_white;
    //display: none;
    overflow: hidden;

    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
}
