.btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: 0;
  transition: transform 0.2s ease, background-color 0.2s ease,
    box-shadow 0.2s ease;
  white-space: nowrap;
  box-sizing: border-box;
  vertical-align: middle;
  font-weight: bold;

  line-height: 1.2rem;
  min-width: 6rem;

  // Modifiers:

  // disabled:

  &_disabled,
  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
  }

  &_theme_yellow {
    color: black;
    background-color: $color_brand_yellow;
    display: inline-block;
    position: relative;
    padding: 1.5rem;
    border-radius: 1000px;
    text-transform: uppercase;
    width: 100%;
    border: 1px solid transparent;

    &:hover {
      background-color: $color_brand_yellow_hover;
    }

    &:focus {
      box-shadow: $form__box-shadow_state_initial;
    }

    &:active {
      transform: translate(0, 2px);
      box-shadow: $form__box-shadow_state_initial;
    }
  }

  &_theme_empty {
    color: $color_black;
    background-color: none;
    display: inline-block;
    position: relative;
    padding: 0.8rem 1rem;
    border-radius: $border_radius;
    border: 1px solid $color_black;

    &:hover {
      background-color: $color_black;
      color: $color_white;
    }

    &:focus {
      box-shadow: $form__box-shadow_state_initial;
    }

    &:active {
      transform: translate(0, 2px);
      box-shadow: $form__box-shadow_state_initial;
    }
  }
}
