.nav {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  flex-flow: row wrap;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  padding: 0 4vw;

  &__item {
    color: $color_white;
    text-align: center;
    padding: 0.7em 1.5em 0.3em 1.5em;
    text-decoration: none;
    border-bottom: 4px solid transparent;

    // State Modifiers:
    &:hover,
    &_active {
      border-bottom: 8px solid lighten($color_black, 50%);
    }
  }
}
