.section7-wrapper {
  background-color: $color_brand_yellow;
  margin: 3rem 0;
}

.section7 {
  display: flex;
  flex-flow: column nowrap;
  max-width: 1200px;
  margin: 1.2rem auto;
  padding: 4rem 4vw;
  overflow: hidden;

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding-top: 4rem;

    @media screen and (min-width: $screen-md) {
      text-align: center;
      grid-template-columns: minmax(150px, 0.5fr) 1fr;
      grid-gap: 4rem;
      align-items: center;
    }
  }

  &__photo {
    max-width: 100%;
  }

  &__subheading {
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    font-size: $font-size_root;
    font-family: $font-stack_gill-sans;
  }

  &__text {
    font-size: $font-size_lg;
    text-align: left;
  }

  &__btn {
    margin-top: 2rem;
  }
}
