div(class='benefits1-wrapper' id='benefits1') 
  section(class='benefits1') 
    article(class='benefits1__text') 
      h1(class='heading heading_size_h1 benefits1__heading') Письмо без боли, синяков и усталости
      p(class='text text_display_block') За счет физиологичной формы #[strong Ypen можно держать только правильно и никак иначе]. За счет правильного упора во время письма перераспределяется нагрузка с пальцев на ладонь и снимается усталость.
      p(class='text text_display_block') #[strong Ypen подходит для левшей и правшей], для школьников и тех, кто только собирается им стать.
      p(class='text text_display_block') Ypen — отличный инструмент для #[strong подготовки ребенка к школе] и для обучения в начальных классах.
    img(class='benefits1__photo' src='./../blocks/benefits1/hand.png' alt='Hand')
