div(class='main-wrapper') 
  section(class='main') 
    div(class='main__order')
      img(class='main__photo' src='./../blocks/main/handwriting-pocherk.png' alt='Почерк')
      h1(class='heading heading_size_h1 main__heading') Без прописей и усталости за 7 дней
      a(class='order-btn order-btn_theme_white' href='#order') Заказать
    div(class='main__presentation main_align_r')
      img(class='main__photo' src='./../blocks/main/pen-presentation.png' alt='Pen')
    div(class='main__contacts')
      p(class='text text_display_inline') Подписывайтесь на нас&nbsp;&nbsp;&nbsp;—
      a(href='https://www.instagram.com/ypen.ru/' class='icons') 
        img(class='main__photo icons__img' src='./../blocks/main/instagram.png' alt='instagram icon')
      a(href='https://vk.com/ypen_ru' class='icons') 
        img(class='main__photo icons__img' src='./../blocks/main/vk.png' alt='vk icon')
    div(class='main__video main_align_r')
      div(class='main__video-note-box')
        img(class='main__flag' src='./../blocks/main/flag.png' alt='Почерк')
        span(class='main__video-note-text') Придумана и производится в России вручную
      img(class='main__photo main__photo_video-preview' data-modal='modal-video' src='./../blocks/main/preview.jpg' id='video-trigger-btn' alt='video preview')
