doctype html
html(lang='ru' class='page')

  head
    meta(charset='UTF-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover, shrink-to-fit=no')
    
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    
    //- code from realfavicongenerator.net:
    link(rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png")
    link(rel="manifest" href="./site.webmanifest")
    link(rel="shortcut icon" href="./favicon.ico")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="msapplication-config" content="./browserconfig.xml")
    meta(name="theme-color" content="#ffffff")

    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i,800,800i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet")

    meta(name='description' content='Исправляется и корректируется почерк за 7 дней, ни одна ручка на это не способна')

    //- displayed in Google search results:
    meta(name='keywords' content='web development, frontend, test')
    meta(name='author' content='Andrey Ponomarev')
    meta(property="og:url" content="https://ypen.ru")
    meta(property="og:title" content="Ypen — ручка для детей")
    meta(property="og:description" content="Исправляется и корректируется почерк за 7 дней, ни одна ручка на это не способна")
    meta(property="og:type" content="website")
    meta(property="og:image" content="https://static.tildacdn.com/tild6535-6362-4465-b666-366436363762/-FB.png")
    link(rel="canonical" href="https://ypen.ru")

    meta(property="fb:app_id" content="257953674358265")

    title Ypen — ручка для детей
      
    block head
  
  body(class='page__body page__preload')
  
    noscript Your browser doesn't support JavaScript or you have disabled JavaScript.

    include ./../blocks/header/header.pug
    include ./../blocks/main/main.pug
    include ./../blocks/benefits1/benefits1.pug
    include ./../blocks/benefits2/benefits2.pug
    include ./../blocks/benefits3/benefits3.pug
    include ./../blocks/benefits4/benefits4.pug
    include ./../blocks/benefits5/benefits5.pug
    include ./../blocks/certificates/certificates.pug
    include ./../blocks/webinars/webinars.pug
    include ./../blocks/order/order.pug
    include ./../blocks/reviews/reviews.pug
    include ./../blocks/footer/footer.pug

    include ./../blocks/contacts/contacts.pug
    include ./../blocks/lightbox/lightbox.pug
    include ./../blocks/confirm-order-modal/confirm-order-modal.pug
    include ./../blocks/webinar-signup-modal/webinar-signup-modal.pug
    include ./../blocks/video-modal/video-modal.pug
    