footer(class='footer')
  img(class='logo footer__logo' src='./../blocks/logo/logo.png' alt='YPEN logo')
  div(class='footer__menu')
    div(class='footer__section') 
      div(class='footer__item') Главная
      div(class='footer__item') Преимущества
    div(class='footer__section') 
      div(class='footer__item') Вебинары
      div(class='footer__item') Сертификаты
    div(class='footer__section') 
      div(class='footer__item footer__telephone') +7 921 515 00 04
      div(class='footer__item') Доставка и оплата
  div(class='footer__icons')
    a(href='https://www.instagram.com/ypen.ru/' class='icons footer__icon') 
      img(class='icons__img footer__icon' src='./../blocks/icons/instagram.png' alt='instagram icon')
    a(href='https://vk.com/ypen_ru' class='icons footer__icon') 
      img(class='icons__img footer__icon' src='./../blocks/icons/vk.png' alt='vk icon')

