.order-wrapper {
  margin: 2rem 0;
  padding-top: 3rem;

  @media screen and (min-width: $screen-md) {
    margin: 2rem 3rem;
  }
}

.order {
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  grid-gap: 1rem;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 1.2rem auto;
  padding: 10rem 4vw 4rem 4vw;
  justify-items: center;
  // align-items: center;

  border: none;

  @media screen and (min-width: $screen-xs) {
    padding: 13rem 4vw 4rem 4vw;
  }

  @media screen and (min-width: $screen-sm) {
    padding: 8rem 4vw 4rem 4vw;
  }

  @media screen and (min-width: $screen-md) {
    padding: 15rem 4vw 4rem 4vw;

    border: 8px solid $color_brand_yellow;
    border-radius: 18px;
  }

  @media screen and (min-width: $screen-lg) {
    grid-template-columns: 1fr minmax(300px, 600px);
    padding: 13rem 4vw 4rem 4vw;
  }

  @media screen and (min-width: $screen-xl) {
    padding: 11rem 4vw 4rem 4vw;
  }

  //-

  &__header {
    position: absolute;
    top: -2.3rem;
    left: 0;
    right: 0;

    padding: 0 0.2rem;

    color: $color_brand_blue;

    background-color: white;

    @media screen and (min-width: $screen-md) {
      left: 30%;
      right: 30%;
    }
  }

  &__heading {
    position: relative;
    text-align: center;
  }

  &__subheading {
    position: relative;

    display: block;
    padding: 1rem 1rem 0 1rem;

    color: $color_brand_blue;
    text-align: center;
    font-size: $font-size_root;
  }

  //-

  &__select-pen-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;

    @media screen and (min-width: $screen-xl) {
      grid-template-columns: 1fr 0.5fr;
      grid-template-rows: auto auto;
    }
  }

  &__selected-pen-photo {
    max-width: 100%;
  }

  &__photos-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    @media screen and (min-width: $screen-xl) {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;
    }
  }

  &__pen-photo {
    max-width: 100%;
    margin: 1rem;
  }

  //-

  &__price-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    color: $color_brand_blue;

    @media screen and (min-width: $screen-xl) {
      grid-column-end: span 2;
    }
  }

  &__price-box > *:not(:last-child) {
    padding-right: 3rem;
  }

  &__price-sum {
  }

  &__price-figures {
    font-family: $font-stack_gill-sans;
    font-size: 4rem;
  }

  &__price-comment {
    max-width: 12rem;
  }

  &__currency {
    position: relative;
    bottom: 5px;

    padding-left: 0.7rem;

    font-weight: bold;
  }
}
