div(class='order-wrapper' id='order') 
  section(class='order') 
    header(class='order__header')
      h1(class='heading heading_size_h1 order__heading') Выбрать свою Ypen
      span(class='heading order__subheading') В каждой Ypen стержень легко меняется, и одной ручки хватит на долгое время
  
    include ./../order-calculator/order-calculator.pug
    include ./../order-form-group/order-form-group.pug