div(class='webinars-wrapper' id='webinars') 
  section(class='webinars') 
    h1(class='heading heading_size_h1') Обучающий вебинар для учителей начальных классов и родителей
    div(class='webinars__content')
      img(class='webinars__photo' src='./../blocks/webinars/ep-photo.png' alt='Evgeniy Paykachev Photo')
      article(class='webinars__text') 
        h5(class='heading heading_size_h5 webinars__subheading') В вебинаре вы узнаете:
        p(class='text text_display_block') #[strong 1.] Устройство Ypen, почему она работает, получите пошаговый план и дорожную карту достижение результата за 7 дней, правила постановки руки для письма. 
        p(class='text text_display_block') #[strong 2.] Как закон Ньютона находит применение в ручке Ypen и чем Ypen отличается от обычной ручки.
        p(class='text text_display_block') #[strong 3.] Правила подготовки рабочей зоны для письма, методику упражнений для расслабления и переноса внимания для детей на уроке.
        p(class='text text_display_block') #[strong 4.] Разбор типичных ошибок положения тела и ручки при письме, способы исправления осанки, расположения кисти.
        a(class='webinar-signup-btn webinar-signup-btn_theme_white webinars__btn' href='###' id='webinar-signup-trigger-btn' data-modal='webinar-sign-up-dialog') Записаться на вебинар
