.benefits3-wrapper {
  margin: 3rem 0 0 0;
  position: relative;
}

.benefits3-pen-wrapper {
  box-sizing: border-box;
  max-width: 1500px;
  display: flex;
  align-items: flex-end;
  margin: 10rem auto 0 auto;
  flex-flow: column nowrap;
  position: relative;
  z-index: -1;

  @media screen and (min-width: $screen-lg) {
    margin: 15rem auto 0 auto;
  }
}

.benefits3 {
  display: flex;
  flex-flow: column nowrap;
  max-width: 1200px;
  margin: 1.2rem auto;
  padding: 4rem 4vw 0 4vw;

  //-

  &__heading {
    color: $color_brand_blue;
  }

  //-

  &__footer {
    margin: 0 auto;
    padding: 0 4vw;
  }

  //-

  &__photo-pen {
    max-width: 93%;
  }

  &__dots {
    max-width: 710px;
    max-height: 637px;
    position: absolute;
    top: -100%;
    left: 20%;
    right: 0;
    width: 45%;
    height: auto;
    font-size: 70%;
    font-family: $font-stack_gill-sans;
    color: $color_brand_blue;

    @media screen and (min-width: $screen-sm) {
      top: -74%;
    }
  }

  &__ellipse {
    max-width: 100%;
  }

  &__dot-box1 {
    position: absolute;
    top: 32%;
    left: 7%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 0.8rem;

    @media screen and (min-width: $screen-lg) {
      top: 32%;
      left: 10%;
    }
  }
  &__dot-box2 {
    position: absolute;
    bottom: 80%;
    right: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    @media screen and (min-width: $screen-lg) {
      bottom: 85%;
    }
  }
  &__dot-box3 {
    position: absolute;
    left: 84%;
    top: 34%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  &__dot-box4 {
    position: absolute;
    top: 40px;
    right: -70%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 100%;

    @media screen and (min-width: $screen-sm) {
      top: 80px;
      right: -50%;
    }

    @media screen and (min-width: $screen-md) {
      top: 50%;
      right: -40%;
      max-width: 100%;
    }

    @media screen and (min-width: $screen-lg) {
      top: 60%;
    }
  }

  &__dot {
    max-width: 40px;
    border: 1px solid red;
  }

  &__dot-text {
    position: absolute;
    max-width: 250px;
    min-width: 200px;
    text-align: center;
    top: -1rem;
    font-size: 0.8rem;
    z-index: 1;

    @media screen and (min-width: $screen-md) {
      font-size: $font-size_root;
    }
  }

  &__dot-text-handwriting {
    position: absolute;
    top: 70px;
    max-width: 70%;
    margin-top: 2rem;

    @media screen and (min-width: $screen-md) {
      max-width: 100%;
      top: 90px;
    }
  }

  //-

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding-top: 4rem;

    @media screen and (min-width: $screen-md) {
      text-align: center;
      grid-template-columns: minmax(150px, 0.5fr) 1fr;
      grid-gap: 4rem;
      align-items: center;
    }
  }

  &__about {
    max-width: 30rem;
    margin: 4rem 0 0 0;
  }

  &__note-box {
    display: grid;
    grid-template-columns: minmax(80px, 0.3fr) 1fr;
    max-width: 800px;
    align-items: center;
  }

  &__note {
    font-size: $font-size_sm;

    @media screen and (min-width: $screen-md) {
      font-size: $font-size_root;
    }
  }

  &__photo_lego-man {
    max-width: 100%;
  }

  //-

  &_footer {
    margin: 4rem auto 0 auto;
    padding-top: 0;
    padding-bottom: 0;

    @media screen and (min-width: $screen-md) {
      margin: 0 auto;
      font-size: $font-size_root;
    }
  }
}
