div(class='benefits3-wrapper')

  div(class='benefits3-header-wrapper') 
    section(class='benefits3') 
      h1(class='heading heading_size_h1 benefits3__heading') Тренажер для обучения письму
      div(class='benefits3__about')
        p(class='text text_display_block') За 7 дней формируется привычка держать руку и спину правильно, вырабатывается аккуратный почерк, который можно сохранить на всю жизнь

  div(class='benefits3-pen-wrapper') 
    img(class='benefits3__photo-pen' src='./../blocks/benefits3/pen.png' alt='Pen')
    div(class='benefits3__dots')
      img(class='benefits3__ellipse' src='./../blocks/benefits3/ellipse.png' alt='Dot')
      div(class='benefits3__dot-box1')
        img(class='benefits3__dot1' src='./../blocks/benefits3/circle.png' alt='Dot')
        div(class='benefits3__dot-text') Отсутствие боли в руке
      div(class='benefits3__dot-box2')
        img(class='benefits3__dot2' src='./../blocks/benefits3/circle.png' alt='Dot')
        div(class='benefits3__dot-text') Красивый почерк
      div(class='benefits3__dot-box3')
        img(class='benefits3__dot3' src='./../blocks/benefits3/circle.png' alt='Dot')
        div(class='benefits3__dot-text') Прямая спина
      div(class='benefits3__dot-box4')
        img(class='benefits3__dot4' src='./../blocks/benefits3/btn.png' alt='Dot')
        img(class='benefits3__dot-text-handwriting' src='./../blocks/benefits3/handwriting-trenajer.png' alt='Dot')


  div(class='benefits3-header-wrapper') 
    section(class='benefits3 benefits3_footer') 
      div(class='benefits3__note-box')
        img(class='benefits3__photo benefits3__photo_lego-man' src='./../blocks/benefits3/lego.png' alt='Lego man')
        div(class='benefits3__note') Имеет все сертификаты качества, изготовлена из безопасного пластика, такого же, из которого созданы игрушки LEGO

