div(class='order-calculator')
  img(class='order-calculator__selected-pen-photo' src='./../blocks/order-form-group/pen1.png' alt='Blue color pen')
  div(class='order-calculator__photos-group')
    img(class='order-calculator__pen-photo' src='./../blocks/order-form-group/pen2.png' alt='Red color pen')
    img(class='order-calculator__pen-photo' src='./../blocks/order-form-group/pen3.png' alt='Turquoise color pen')
    img(class='order-calculator__pen-photo ' src='./../blocks/order-form-group/pen4.png' alt='White color pen')
  div(class='order-calculator__price-box') 
    span(class='order-calculator__price-sum') 
      span(class='order-calculator__price-figures') 1500
      span(class='order-calculator__currency') руб. 
    span(class='order-calculator__price-comment') При заказе от 10 штук #[strong цена 1200 руб.]