div(class='modal modal_confirm-order')
  span(class='modal__close-btn') &times;

  div(class='modal__dialog modal__dialog_confirm' id='confirm-order-dialog')
    img(
      src='./../blocks/confirm-order-modal/approved-icon.svg'
      alt='Заявка принята'
      class='img-svg_approved-icon'
    )
    span(class='text text_display_inline') Спасибо! Ваша заявка принята, мы свяжемся с вами в течении суток.
