.text {
  /**************
   * Modifiers: *
   **************/

  // display as regular text
  &_display_inline {
    display: inline;
  }
  // display as paragraph
  &_display_block {
    display: block;
    text-indent: 0;
    margin-bottom: 1em; /* space between paragraphs */
  }
}
