.certificates-wrapper {
  margin-bottom: 3rem;
  padding-top: 2rem;
}

.certificates {
  max-width: 1200px;
  margin: 0 auto 1.2rem auto;
  padding: 0 4vw 4rem 4vw;
  justify-items: center;
  overflow: hidden;

  //-

  &__heading {
    color: $color_brand_blue;
  }

  //-

  &__about {
    max-width: 30rem;
    margin: 4rem 0;
  }

  //-

  &__steps-box {
    position: relative;
    margin: 1rem auto 6rem auto;
    display: grid;
    grid-template-columns: 20px 135px 1fr;
    grid-row-gap: 4rem;
    grid-column-gap: 2rem;
    grid-template-areas:
      "line img1 text1"
      "line img2 text2"
      "line img3 text3";

    @media screen and (min-width: $screen-sm) {
      margin: 6rem auto 6rem auto;
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 1rem;
      grid-template-areas:
        "img1  img2  img3"
        "line  line  line"
        "text1 text2 text3";
    }
  }

  &__img1 {
    max-width: 100%;
    grid-area: img1;
  }
  &__img2 {
    max-width: 100%;
    grid-area: img2;
  }
  &__img3 {
    max-width: 100%;
    grid-area: img3;
  }

  &__line {
    transform: rotate(90deg);
    transform-origin: top left;
    position: absolute;
    top: 32px;
    left: 30px;
    height: 13px;
    grid-area: line;

    @media screen and (min-width: $screen-sm) {
      position: static;
      transform: rotate(0deg);
      grid-area: line;
      width: 100%;
      height: auto;
      padding: 0 16%;
      box-sizing: border-box;
    }
  }

  &__october {
    grid-area: text1;
    color: $color_brand_blue;
    font-weight: bold;
  }
  &__january {
    grid-area: text2;
    color: $color_brand_blue;
    font-weight: bold;
  }
  &__september {
    grid-area: text3;
    color: $color_brand_blue;
    font-weight: bold;
  }

  //-

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-gap: 3rem;
    padding-top: 4rem;
    justify-items: center;
  }

  &__item {
    text-align: center;
  }

  &__circle {
    position: relative;
    margin: 0 auto;
    width: 190px;
    height: 190px;
    border-radius: 1000px;
    background-color: $color_brand_yellow;
    border: 10px solid white;
  }

  &__circle:before {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 210px;
    height: 210px;
    top: -11px;
    left: -11px;
    border: 1px solid $color_gray-lighten;
    border-radius: 1000px;
  }

  &__thumbnail {
    position: relative;
    top: -28px;
    margin: 0 auto;
    cursor: pointer;
  }

  &__name {
    display: block;
    margin-top: 2rem;
  }
}
