div(class='certificates-wrapper' id='certificates') 
  section(class='certificates') 
    h1(class='heading heading_size_h1 certificates__heading') Награды и сертификаты
    div(class='certificates__list')

      div(class='certificates__item')
        div(class='certificates__circle')
          img(class='certificates__thumbnail' data-lightbox='lightbox-image0' src='./../blocks/certificates/thumbnail-cert1.png' alt='патент')
        span(class='certificates__name') Патент «Устройство для письма и рисования»

      div(class='certificates__item')
        div(class='certificates__circle')
          img(class='certificates__thumbnail' data-lightbox='lightbox-image1' src='./../blocks/certificates/thumbnail-cert2.png' alt='диплом')
        span(class='certificates__name') Диплом за 1 место в конкурсе научных и инженерных работ

      div(class='certificates__item')
        div(class='certificates__circle lightbox__img')
          img(class='certificates__thumbnail' data-lightbox='lightbox-image2' src='./../blocks/certificates/thumbnail-cert3.png' alt='сертификат')
        span(class='certificates__name') Сертификат на грант

      div(class='certificates__item')
        div(class='certificates__circle lightbox__img')
          img(class='certificates__thumbnail' data-lightbox='lightbox-image3' src='./../blocks/certificates/thumbnail-cert4.png' alt='диплом')
        span(class='certificates__name') Диплом «Интеллект будущего»
