.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  overflow: hidden;

  flex: 0 1 1200px;
  max-width: 1200px;
  margin: 1.2rem auto;
  padding: 0 4vw;

  &__menu {
    display: flex;
    text-overflow: ellipsis;
    font-family: $font-stack_open-sans;
    font-weight: bold;
    font-size: $font-size_xs;
    margin-left: 2rem;
  }

  &__link {
    margin: 0 2rem;
    white-space: nowrap;
    text-decoration: none;

    &:link {
      color: $color_black;
      transition: all 0.2s linear;
    }

    &:visited {
      color: $color_black;
    }

    &:hover {
      color: lighten($color_gray-dark, 15%);
    }

    &:focus {
      color: lighten($color_link, 15%);
    }

    &:active {
      color: lighten($color_link, 15%);
    }
  }
}
