header(class='header')
  img(class='logo' src='./../blocks/logo/logo.png' alt='YPEN logo')
  div(class='header__menu')
    a(class='header__link' href='###') Главная 
    a(class='header__link' href='#certificates') Сертификаты
    a(class='header__link' href='#benefits1') Преимущества
    a(class='header__link' href='#webinars') Вебинары
    a(class='header__link' href='#reviews') Отзывы
    a(class='header__link' href='#webinars') +7 921 515 00 04
