.section-order {
}

.section-otzivi-wrapper {
  background-color: #fafafa;
  margin: 5rem 0;
  padding: 5rem 0 0 0;
}

.section-otzivi {
  display: flex;
  flex-flow: column nowrap;
  height: 400px;

  flex: 0 1 1200px;
  max-width: 1200px;
  margin: 1.2rem auto;
  padding: 0 4vw;
}
