div(class='lightbox')
  span(class='lightbox__close-btn') &times;

  img(class='lightbox__dialog' id='lightbox-image0' src='./../blocks/certificates/cert1.jpg' alt='диплом')

  img(class='lightbox__dialog' id='lightbox-image1' src='./../blocks/certificates/cert2.jpg' alt='диплом')

  img(class='lightbox__dialog' id='lightbox-image2'  src='./../blocks/certificates/cert3.jpg' alt='сертификат')

  img(class='lightbox__dialog' id='lightbox-image3'  src='./../blocks/certificates/cert4.jpg' alt='диплом')

  div(class="prev" id='lightbox-btn-prev') &#10094;
  div(class="next" id='lightbox-btn-next') &#10095;
